<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Lock viewport to prevent scaling -->
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="description" content="Local Maps Demo - ArcGIS">
    <meta name="author" content="">
    <link rel="icon" href="https://www.esri.com/favicon.ico">
    <title>Local Map Explorer</title>

    <!-- Bootstrap - For testing only -->
    <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"-->
    <!-- Calcite Maps Bootstrap -->
    <!--link rel="stylesheet" href="./../Content/calcite-maps-bootstrap-v0.3.css" -->

    <!-- Calcite Maps -->
   

    <!-- ArcGIS JS 4.x -->
    <link rel="stylesheet" href="https://js.arcgis.com/4.3/esri/css/main.css">
    <!--link rel="stylesheet" href="../../dist/css/arcgis/themes/light/main.css"-->

  
  
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="../Content/calcite-maps-arcgis-4.x.min-v0.3.css">
    <link href="../Content/font-awesome/css/font-awesome.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
</head>

<body class="calcite-nav-top">

    <!-- Navbar -->

    @Html.Partial("_NavbarPartial")
    <!-- Modal Window -->

    @Html.Partial("_ModalPartial")
    
    <!-- Map Container  -->

    @RenderBody()
    <!-- Panel Container -->

    <div class="calcite-panels calcite-panels-right calcite-bg-custom calcite-text-light panel-group" role="tablist" aria-multiselectable="true" style="background-color: rgb(76, 76, 76);">

        <!-- Panel - Info -->

        @Html.Partial("_InfoPartial")

        <!-- Panel - Search -->

        @Html.Partial("_SearchPartial")
 
        <!-- Panel - Basemaps -->

        @Html.Partial("_BasemapsPartial")
        
        <!-- Panel - Bookmarks -->

        @Html.Partial("_BookmarksPartial")

        <!-- Panel - Legend -->

        @Html.Partial("_LegendPartial")   
     
        <!-- Panel - Print -->
        @Html.Partial("_PrintPartial")
        

        <!-- Panel - Share -->

        @Html.Partial("_SharePartial")
        <!-- Panel - Settings -->
        
        @Html.Partial("_SettingsPartial")

<!-- /.panel -->
    </div> <!-- /.calcite-panels group-->

    <!-- dojoConfig -->
    <script src="~/Scripts/dojoConfig.js"></script>



    <!-- ArcGIS JS 4.x -->
    <script src="https://js.arcgis.com/4.3/"></script>
    <script src="~/Scripts/mapConfig.js"></script>
    <script src="~/Scripts/layerConfig.js"></script>
    <!-- app.js -->
    <script src="~/Scripts/app.js">
    </script>
</body>
</html>
